<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <a href="/q1/infoForm/">infoForm</a><br>
    <a href="{% url 'example:selectForm' %}">selectForm</a><br>
    <a href="{% url 'example:comboForm' %}">comboForm</a><br>
    <a href="{% url 'example:forForm' %}">forForm</a><br>
    <a href="{% url 'example:lottoForm' %}">lottoForm</a><br>
</body>
</html>